BODY {
	BACKGROUND-POSITION: center 50%; MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; COLOR: #000000; LINE-HEIGHT: 21px; FONT-FAMILY: "ו"
}
TABLE {
	FONT-SIZE: 12px; LINE-HEIGHT: 21px; FONT-FAMILY: "ו"
}
TD {
	FONT-SIZE: 12px; WORD-BREAK: break-all; LINE-HEIGHT: 21px; FONT-FAMILY: "ו"; WORD-WRAP: break-word
}
.b {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
A:link {
	COLOR: #003366; TEXT-DECORATION: none
}
A:visited {
	COLOR: #003366; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ee0000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #003366; TEXT-DECORATION: none
}

.boxes {
	WIDTH: 1em
}
.top_m {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
A.per_menu:link {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none; onFocus: "if(this.blur)this.blur()"
}
A.per_menu:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none; onFocus: "if(this.blur)this.blur()"
}
A.per_menu:active {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: underline; onFocus: "if(this.blur)this.blur()"
}
A.per_menu:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: underline; onFocus: "if(this.blur)this.blur()"
}

