BODY {
	BACKGROUND-POSITION: center 50%; MARGIN-TOP: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bj.gif); MARGIN-BOTTOM: 0px; COLOR: #333333; TEXT-ALIGN: center
}

UNKNOWN {
	FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(images/bg.jpg); FONT-FAMILY: "ו", "Arial"; TEXT-DECORATION: none
}
TABLE {
	FONT-SIZE: 9pt
}
A:link {
	COLOR: #003779; TEXT-DECORATION: none
}
A:visited {
	COLOR: #003779; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff3300
}
A:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
A.a1:link {
	COLOR: #232323; TEXT-DECORATION: none
}
A.a1:visited {
	COLOR: #232323; TEXT-DECORATION: none
}
A.a1:active {
	COLOR: #ff3300
}
A.a1:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
A.a2:link {
	COLOR: #ff3900; TEXT-DECORATION: none
}
A.a2:visited {
	COLOR: #ff3900; TEXT-DECORATION: none
}
A.a2:active {
	COLOR: #003779; TEXT-DECORATION: underline
}
A.a2:hover {
	COLOR: #003779; TEXT-DECORATION: underline
}
A.a3:link {
	COLOR: #0f3cf0; TEXT-DECORATION: underline
}
A.a3:visited {
	COLOR: #0f3cf0; TEXT-DECORATION: underline
}
A.a3:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.a3:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.redfont:link {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.redfont:visited {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
A.redfont:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.redfont:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.font1 {
	FONT-SIZE: 9pt; COLOR: #ff3900
}
.font2 {
	FONT-SIZE: 9pt; COLOR: #0a5df6
}
.font3 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ec0505
}
.line {
	BORDER-RIGHT: #d9d9d9 1px solid; BORDER-TOP: #d9d9d9 1px solid; MARGIN-TOP: 1px; MARGIN-LEFT: 1px; BORDER-LEFT: #d9d9d9 1px solid; MARGIN-RIGHT: 1px
}
.line {
	BORDER-RIGHT: #d9d9d9 1px solid; BORDER-TOP: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid
}
.line2 {
	BORDER-RIGHT: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid; BORDER-BOTTOM: #d9d9d9 1px solid
}
.line3 {
	BORDER-RIGHT: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid
}
.font4 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
.font5 {
	FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.font6 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}